@charset "utf-8";

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #333;
}

a{
    text-decoration: none;
    color: #333;
}

input[type='checkbox']{
    display: none;
}


.s_slide h2, .sns h2, .promotion h2,.products h2, .store h2{
    font-size: 30px;
    color: #D4261F;
    text-align: center;
    margin: 100px 0px 50px 0px;
}


.sub2_slide li div{
    font-weight: bold;
    font-size: 15px;
    line-height: 60px;
}
.sub2_slide li span{
    margin: 0px auto;
    text-align: center;
    padding-right: 20px;
}
.r_color{
    color: #EF8B53;
}
.r_color::before{
    text-align: center;
    line-height: 21px;
    display: inline-block;
    content: "R";
    width: 21px;
    height: 21px;
    background-color:#EF8B53;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}
.l_color{
    color: #DC4F49;
}
.l_color::before{
    text-align: center;
    line-height: 19px;
    display: inline-block;
    color: #fff;
    content: "L";
    width: 21px;
    height: 21px;
    background-color: #DC4F49;
    border-radius: 50%;
    margin-right: 10px;
}

